doctype html
html
  head
    title= title
  body
    block content
    h1 Welcome!
    p Go ahead and search for your favorite artist below:
    form(name='artistSearch', action='/search', method='post')
      input(type='text' name='artist', placeholder='enter an artist...')
      input(type='submit', name='button', value='Search')
