doctype html
html
  head
    title= 'Top Albums'
    script(type='text/javascript' src='/javascripts/jquery-1.11.1.js')
    script(type='text/javascript' src='/javascripts/jade.js')
    script(type='text/javascript' src='/javascripts/runtime.js')
    script(type='text/javascript' src='/javascripts/compiled_jade.js')
    script(type='text/javascript' src='/javascripts/client_side.js' async)
  body
    p Fleet Foxes
    div.results
