doctype html
html
  head
    title= 'Top Albums'
    link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/jquery-1.11.1.min.js')
    script(type='text/javascript' src='/javascripts/runtime.js')
    script(type='text/javascript' src='/javascripts/results.js')
    script(type='text/javascript' src='/javascripts/client_side.js' async)
  body
    .testArtist
      p Fleet Foxes
