include index.jade

// display an error if no artist could be found
if message
  h2.error= message
// if no error display the artists top albums
else
  h2.artist= 'Top albums for ' + artist + ':'
  h4.albums= albums