 /* uid to ensure class names do not collide with page css */
.E8D9D785-6A04-49B5-9B3C-978BEAC8C2CC.results {
  display: none;
  font-family: verdana;
  padding: 0 10px;
  position: fixed;
  top: 15px;
  right: 15px;
  border: solid 5px rgb(93, 139, 125);
  z-index: 2147483647;
  background-color: rgba(255, 255, 255, 0.93);
  color: rgb(74, 74, 74);
}

.E8D9D785-6A04-49B5-9B3C-978BEAC8C2CC.results .artist {
  text-align: center;
}

.E8D9D785-6A04-49B5-9B3C-978BEAC8C2CC.results .albumList {
  font-size: 15px;
  text-align: left;
}

.E8D9D785-6A04-49B5-9B3C-978BEAC8C2CC.preloader {
  background-image: url('/images/loading_spinner.gif');
  background-repeat: no-repeat;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 2147483647;
  width: 54px;
  height: 55px;
}
